/*-------
reset
------*/
p,
ul,
h1,
h2,
h3,
input,
button,
hr,
img {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input,
option,
select,
button,
hr,
textarea {
  border: none;
}
ul {
  list-style: none;
}
/*清除右外边距*/
.no-margin {
  margin-right: 0;
}
/*-------------
header start
-------------*/
header {
  height: 56px;
  width: 1280px;
  margin-left: 50px;
}
header h1 {
  width: 120px;
  height: 31px;
  float: left;
  margin-top: 13px;
  line-height: 31px;
  font-size: 21px;
  font-family: "黑体";
  text-indent: 31px;
  background: url("../images/logo-bg.png") no-repeat 0 0;
}
header nav {
  float: right;
}
header ul {
  font-size: 0;
}
header li {
  display: inline-block;
  width: 65px;
  height: 52px;
  margin-right: 25px;
}
header li a {
  width: 65px;
  height: 52px;
  line-height: 52px;
  display: block;
  color: #787b83;
  font-size: 14px;
  font-family: "Microsoft YaHei", "Arial";
  text-align: center;
  text-decoration: none;
}
header li a:hover,
header li a:active {
  color: #e74f4d;
  border-bottom: 4px solid #e74f4d;
}
header .active {
  border-bottom: 4px solid #e74f4d;
}
header .active a {
  color: #e74f4d;
}
/*-------------
header end
-------------*/
/*-------------
banner start
-------------*/
.banner {
  width: 100%;
  height: 692px;
  background: url("../images/banner-bg.jpg") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/banner-bg.jpg", sizingMethod='scale');
}
.banner-msg {
  position: absolute;
  left: 117px;
  top: 214px;
}
.banner-msg h2,
.banner-msg p,
.banner-msg button {
  color: #fff;
  font-family: "Microsoft YaHei";
  margin: 0;
}
.banner-msg h2 {
  height: 79px;
  font-size: 60px;
  line-height: 79px;
  font-weight: 400;
}
.banner-msg p {
  margin-top: 11px;
  font-size: 21px;
  line-height: 32px;
  padding-left: 7px;
}
.banner-msg button {
  width: 330px;
  height: 62px;
  border: none;
  background-color: #e74f4d;
  font-size: 30px;
  margin-top: 61px;
}
/*-------------
banner end
-------------*/
/*------------
project start
--------------*/
.project {
  width: 100%;
  height: 250px;
}
.project-item {
  width: 25%;
  text-align: center;
  margin-top: 45px;
  padding-top: 90px;
  float: left;
}
.project-item:first-child {
  background: url("../images/project-icon-1.png") no-repeat 50% 0;
}
.project-item:nth-child(2) {
  background: url("../images/project-icon-2.png") no-repeat 50% 0;
}
.project-item:nth-child(3) {
  background: url("../images/project-icon-3.png") no-repeat 50% 0;
}
.project-item:nth-child(4) {
  background: url("../images/project-icon-4.png") no-repeat 50% 0;
}
.project-info {
  border-right: 2px solid #bbbbbb;
  height: 52px;
}
.project-info p {
  width: 158px;
  margin: 0 auto;
  color: #767777;
  font-size: 14px;
  font-family: "黑体";
}
.no-border {
  border-right: none;
}
/*------------
project start
--------------*/
/*---------------
activity start
-----------------*/
.activity {
  background-color: #ededed;
  position: relative;
}
.activity .activity-lead {
  height: 360px;
}
.activity .activity-lead img {
  position: absolute;
  left: 50%;
  margin-left: -45px;
  top: 92px;
}
.activity .activity-lead h3 {
  width: 100%;
  position: absolute;
  top: 226px;
  font-family: "黑体";
  font-size: 54px;
  color: #a1a1a1;
  text-align: center;
}
.activity .activity-info {
  width: 100%;
  height: 342px;
  overflow: hidden;
  background: url("../images/activity-info-bg.jpg") no-repeat;
  background-size: cover;
}
.activity .activity-info h3,
.activity .activity-info p {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: normal;
}
.activity .activity-info h3 {
  font-size: 21px;
  margin-top: 50px;
}
.activity .activity-info hr {
  width: 30px;
  height: 3px;
  border: none;
  background-color: #fff;
}
.activity .activity-info p {
  font-size: 14px;
  margin-top: 26px;
}
.activity .activity-info .search {
  width: 100%;
  height: auto;
}
.activity .activity-info form {
  width: 1028px;
  margin: 45px auto 0 auto;
  font-size: 0;
  letter-spacing: -4px;
}
.activity .activity-info select,
.activity .activity-info input {
  height: 35px;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #323333;
  border: none;
}
.activity .activity-info select {
  width: 236px;
  margin-right: 28px;
  padding-left: 10px;
  padding-right: 40px;
  background: url("../images/select-btn.png") no-repeat 207px center;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.activity .activity-info select option {
  background-color: #e3e3e4;
  color: #323333;
  height: 27px;
  line-height: 27px;
}
.activity .activity-info input {
  width: 236px;
  font-size: 14px;
  letter-spacing: 20px;
  color: #fff;
  background-color: #be4e48;
  position: relative;
  top: 1px;
}
.activity .activity-place {
  width: 100%;
  height: 480px;
  padding-top: 125px;
  background-color: #F7F7F7
  /*清除右外边距*/
}
.activity .activity-place .wrap {
  width: 976px;
  height: 480px;
  margin: 0 auto;
}
.activity .activity-place .active img {
  position: relative;
  top: 56px;
}
.activity .activity-place .active h3,
.activity .activity-place .active p {
  position: relative;
}
.activity .activity-place .active h3 {
  top: -335px;
  font-size: 21px;
  letter-spacing: 35px;
  text-align: center;
}
.activity .activity-place .active p {
  top: -328px;
  width: 217px;
  text-align: center;
}
.activity .activity-place .place {
  float: left;
}
.activity .activity-place h3,
.activity .activity-place p {
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: normal;
  font-size: 14px;
  color: #323333;
}
.activity .activity-place p {
  color: #818181;
}
.activity .activity-place .no-margin {
  margin-right: 0;
}
.activity .activity-place img {
  margin-right: 36px;
  width: 201px;
  padding: 11px 7px;
  border: 1px solid #d5d5d5;
  background-color: #fff;
}
/*---------------
activity start
-----------------*/
/*----------------
events start
------------------*/
.events {
  width: 100%;
}
.events .events-slide {
  overflow: hidden;
}
.events .events-slide img {
  width: 66.67%;
  float: left;
}
.events .events-info {
  width: 30%;
  padding-top: 20px;
  margin-right: 10px;
  float: right;
}
.events .events-info h3,
.events .events-info strong,
.events .events-info p {
  font-family: "Microsoft YaHei";
  font-weight: normal;
}
.events .events-info h3 {
  font-size: 21px;
  text-align: center;
  margin-bottom: 10px;
}
.events .events-info strong {
  color: #E74F4D;
}
.events .events-info p {
  font-size: 14px;
  text-indent: 2em;
  line-height: 30px;
  color: #aaa;
}
.events .events-info a {
  height: 31px;
  line-height: 31px;
  width: 104px;
  border: 1px solid #E74F4D;
  text-align: center;
  color: #E74F4D;
  background-color: #fff;
  display: block;
  margin: 50px auto 25px auto;
}
.events .events-info a:hover {
  background-color: #E74F4D;
  color: #fff;
}
.events .events-info .slide-btn {
  margin: 0 auto;
  width: 72px;
  height: 14px;
  text-align: center;
}
.events .events-info .slide-btn .no-margin {
  margin-right: 0;
}
.events .events-info .slide-btn .active {
  background-color: #787b83;
}
.events .events-info .slide-btn span {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 15px;
  border: 1px solid #787b83;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.events .events-block {
  height: 519px;
  overflow: hidden;
}
.events .events-block hr {
  width: 30px;
  height: 3px;
  margin: 25px auto;
  background-color: #ABABAB;
}
.events .events-block .more {
  width: 168px;
  height: 41px;
  line-height: 41px;
  display: block;
  margin: auto;
  font-family: "Microsoft YaHei";
  font-size: 21px;
  text-align: center;
}
.events .block-1 {
  width: 33.3%;
  height: 519px;
  float: left;
  background-color: #e74f4d;
}
.events .block-1 img {
  width: 100%;
  height: auto;
}
.events .block-1 .block-info {
  width: 100%;
  padding-top: 20px;
}
.events .block-1 h3,
.events .block-1 a {
  color: #fff;
  font-weight: normal;
  text-align: center;
}
.events .block-1 hr {
  background-color: #fff;
  margin: 20px auto;
}
.events .block-1 a {
  color: #fff;
  font-weight: 500;
  border: 1px solid #fff;
}
.events .block-1 a:hover {
  background-color: #fff;
  color: #e74f4d;
}
.events .block-2 {
  width: 66.7%;
  height: 519px;
  float: right;
}
.events .block-2 .block-info {
  width: 50%;
  float: left;
  padding-top: 168px;
  background-color: #fff;
}
.events .block-2 h3,
.events .block-2 a {
  color: #818181;
  font-weight: normal;
  text-align: center;
}
.events .block-2 a {
  color: #e74f4d;
  font-weight: 500;
  border: 1px solid #e74f4d;
}
.events .block-2 a:hover {
  background-color: #e74f4d;
  color: #fff;
}
.events .block-2 img {
  width: 50%;
  float: right;
}
/*----------------
events end
------------------*/
/*----------------
 join  start
------------------*/
.join {
  width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
}
.join h3 {
  font-size: 21px;
  color: #333;
  text-align: center;
  font-weight: normal;
}
.join hr {
  width: 30px;
  height: 3px;
  background-color: #e74f4d;
  margin: 8px auto 16px auto;
}
.join p {
  width: 426px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  color: #aaa;
}
.join .join-info {
  margin-top: 100px;
  overflow: hidden;
}
.join .agreement {
  width: 304px;
  float: left;
  padding-right: 56px;
}
.join .agreement h3 {
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
}
.join .agreement p {
  width: 100%;
  text-align: left;
}
.join .agreement a {
  color: #aaa;
  text-align: right;
  display: inline-block;
  width: 100%;
}
.join .agreement-item {
  margin-bottom: 20px;
}
.join .apply {
  width: 640px;
  float: right;
}
.join input {
  width: 300px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  float: left;
  font-size: 12px;
  color: #aaa;
  background-color: #ededee;
  padding-left: 10px;
}
.join textarea {
  width: 622px;
  height: 164px;
  border: none;
  font-size: 12px;
  color: #aaa;
  background-color: #ededee;
  padding-left: 10px;
  margin-bottom: 15px;
}
.join .margin-right {
  margin-right: 15px;
}
.join .apply-submit {
  width: 622px;
  height: 40px;
  border: none;
  font-size: 12px;
  color: #aaa;
  background-color: #ededee;
}
/*----------------
 join  end
------------------*/
/*----------------
footer start
----------------*/
footer {
  width: 100%;
  background-color: #32353e;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer h3,
footer p {
  width: 470px;
  margin: 0 auto;
  font-family: "Microsoft YaHei";
  font-weight: normal;
  color: #fff;
  text-align: center;
}
footer p {
  font-size: 12px;
  margin-top: 10px;
}
footer .subscribe {
  width: 510px;
  height: 40px;
  margin: 40px auto 0 auto;
}
footer input {
  height: 40px;
  line-height: 40px;
  color: #aaa;
}
footer .mail {
  width: 420px;
  padding-left: 10px;
}
footer .submit {
  width: 80px;
  color: #fff;
  background-color: #6f7178;
}
footer .share {
  text-align: center;
  margin: 35px auto 0 auto;
}
footer .share a {
  display: inline-block;
  margin-right: 15px;
}
footer .copyright {
  width: 100%;
  height: 60px;
  background-color: #333333;
  overflow: hidden;
}
footer .copyright p {
  width: 50%;
  float: left;
  line-height: 60px;
}
/*----------------
footer start
----------------*/
